{% load static %} {% load markdownify %}


<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tag Details</title>
  <link rel="stylesheet" href="{% static 'css/app.css' %}">
</head>

<body>
  <header>
    <nav>
      <ul>
        <li>
          <a href="{% url 'home' %}">Scrumptious</a>
        </li>
        <li>
          <a href="{% url 'admin:index' %}">{{ 'Admin'|markdownify }}</a>
        </li>
        <li>
          <a href="{% url 'recipe_new' %}">{{ "Write a recipe"|markdownify }} </a>
        </li>
      </ul>
    </nav>
  </header>
</body>

</html>
