{% extends 'base.html' %} {% load markdownify %}

{% block content %}
  <main class="recipe-detail">
    <div>
      <a href = "{% url 'meal_plan_edit' mealplan.id %}">{{ 'Edit' | markdownify }} </a>
      <a href = "{% url 'meal_plan_delete' mealplan.id %}">{{ 'Delete' | markdownify }} </a>
    </div>
    <h1>{{ mealplan.name }}</h1>
    <h2>by: {{ mealplan.owner | default_if_none:"Unknown" }}</h2>
    {% for recipe in mealplan.recipes.all %}
      <a href="{% url 'recipe_detail' recipe.id%}">{{ recipe.name }}</a>
    <p>
    {% endfor %}
      Date {{ mealplan.date }} |
    </p>
  </main>
{% endblock content %}