{% extends 'base.html' %} 

{% block content %}
  <main class="recipe-grid">
    {% comment %} <h1>Meal Plan Library</h1> {% endcomment %}
    {% comment %} <p></p> {% endcomment %}
      <a href = "{% url 'meal_plan_new' %}">Create</a>
    {% for mealplan in mealplan_list %}
    
      <div class="recipe-card">
        <h2 class="recipe-card-title">
          <a href="/meal_plans/{{ mealplan.id }}">{{ mealplan.name }}</a>
        </h2>
        <h3 class="recipe-card-title">
          <a href="/recipes/{{ recipe.name }}">{{ recipe.name }}</a>
        </h3>
      </div>
      {% endfor %}
  </main>
{% endblock content %}

{% block pagination %}
  <div class="pagination">
    <footer>
      <span>
        {% if page_obj.has_previous %}
          <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
        {% endif %}
          <span>
            Page {{ page_obj.number }} of {{page_obj.paginator.num_pages }}
          </span>
        {% if page_obj.has_next %}
          <a href="?page={{ page_obj.next_page_number }}">Next</a>
        {% endif %}
      </span>
    </footer> 
  </div>
{% endblock pagination %}