
{% for ingredient in recipe.ingredients.all %}

    <tr>
        <td>{{ ingredient.amount }}</td>
        <td>{{ ingredient.measure.name }}</td>
        <td>{{ ingredient.food.name }}</td>

        <td>
            <form method="POST" action="{% url 'shoppinglist_create' %}">
                {% csrf_token %}
                <input type="hidden" name="ingredient_id" value="{{ ingredient.id }}">
                <button>+ shopping list</button>
            </form>
        </td>
    </tr>

{% endfor %}