{% extends 'base.html' %}

{% block content %}
  <main>
    <h1> Your shopping list </h1>
    <div>
      <form method="POST" action="{% url 'delete_shoppinglist' %}">
        {{ csrf_token }}
        <button class="button">Delete All</button>
      </form>
    </div>
    <ul>
      {% for item in shoppingitems %}
        <li>{{ item.food_item }}</li>
        {% endfor %}
    </ul>
  </main>
{% endblock content %}